body {
    background-image: url(../assets/images/color-degradado-fondos-degradados-multicolor-51200-670x410.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.facebook {
    height: 20px;
    width: 20px;
}

.margin {
    margin: 10px;
}

.top {
    height: 9vh;
}

.logo {
    height: 75px;
    width: 250px;
}