.collage {
    border: 1px solid black;
    height: 35vh;
}

.selection {
    border: 1px solid black;
    height: 22vh;
    overflow: auto;
}

.size {
    width: 33%;
}

.margin {
    margin: 10px;
}

.pad-t-b {
    padding: 10px;
}