.frame {
    height: 17vh;
    overflow: hidden;
}

.margin {
    margin: 10px;
}

.n-pad {
    padding: 0px;
}

.p-frame {
    height: 34vh;
    overflow: hidden;
}

.pad-t-b {
    padding: 10px;
}

.selection {
    border: 1px solid gray;
    height: 22vh;
    overflow: auto;
}

.size {
    width: 33%;
}

.size-collage {
    width: 100%;
}